@use '../abstract/variaveis';
@use '../abstract/mixins';

section#nosso-espaco {
    @include mixins.margemCentral(80%);
    padding: 2rem 0;

    .detalhes {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1.6rem;
        padding-bottom: 30px;

        .espaco-textos {
            display: flex;
            flex-direction: column;
            gap: .8rem;
    
            h2 {
                @include mixins.fontDefault(variaveis.$ft-titulos, 1.6rem, 1.8rem, 500, variaveis.$cor-secundaria);
            }
    
            p {
                @include mixins.fontDefault(variaveis.$ft-textos, 1rem, 1.2rem, 300, variaveis.$cor-primaria);
            }
        }
    }

    @media(min-width:1024px) {
        .detalhes {
            display: flex;
            flex-wrap: nowrap;
            gap: 5rem;

            .imgs-espaco {
                width: 50%;
            }

            .espaco-textos {
                @extend .imgs-espaco;
            }

            &:last-child {
                flex-direction: row-reverse;
                padding-top: 30px;
                
                .imgs-espaco {
                    display: flex;
                    gap: 20px;

                    img {
                        width: 50%;
                    }
                }
            }
        }
    }
}
