/* FONTS */
@font-face {
    font-family: Canela;
    src: url(assets/fonts/canela.woff2) format("woff2");
    font-weight: 400;
    font-display: swap
}

@font-face {
    font-family: Roboto;
    src: url(assets/fonts/roboto.woff2) format("woff2");
    font-weight: 400;
    font-display: swap
}

@font-face {
    font-family: "HelveticaNeueCyr Light";
    src: url(fonts/HelveticaNeueCyr-Light.woff2) format("woff2"),url(fonts/HelveticaNeueCyr-Light.woff) format("woff"),url(fonts/HelveticaNeueCyr-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "HelveticaNeueCyr Roman";
    src: url(fonts/HelveticaNeueCyr-Roman.woff2) format("woff2"),url(fonts/HelveticaNeueCyr-Roman.woff) format("woff"),url(fonts/HelveticaNeueCyr-Roman.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Fff Acidgrotesk Regular';
    src: url('https://cdn.prod.website-files.com/65c4b4da44785bd5a7210c55/65c4d9f0825c6b7a00d50afb_FFF-AcidGrotesk-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fff Acidgrotesk Medium';
    src: url('https://cdn.prod.website-files.com/65c4b4da44785bd5a7210c55/65c4d9f0f1b84de8d7e045a8_FFF-AcidGrotesk-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fff Acidgrotesk Bold';
    src: url('https://cdn.prod.website-files.com/65c4b4da44785bd5a7210c55/65c4d9f08b3b7e3a11edc7ff_FFF-AcidGrotesk-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Default */
html, body {
    scroll-behavior: smooth;
    font-family: 'Fff Acidgrotesk Regular';
    background: #f0f0f0;
}

h1,h2,b {
    font-family: 'Fff Acidgrotesk Bold';
}

::selection {
    background: #f6c4dd;
    color: #00000095;
}

.over-hidden {
    overflow: hidden;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.flex-column {
    flex-direction: column;
}

.m-0 {
    margin:0;
}

.p-0 {
    padding: 0;
}

/* Main */
section.box-main {
    background: #2c8d93;
    /* background: #19abdf; */
    padding: 30px;
    color: #fff;
    position: relative;
}

.radius-default {
    border-radius: 12px;
}

section.box-main a {
    color: #fff;
    text-decoration: none;
}

section.box-main h2 {
    font-size: 36px;
    line-height: 1.2em;
    margin: 0 0 10px;
}

section.box-main h2 e {
    font-weight: 100;
}

section.box-main figure img {
    width: 100%;
    height: 180px;
    background: #73aacc;
}

section.box-main figure {
    margin: 0;
    padding: 20px 0 0;
    width: 80%;
    justify-self: self-end;
}

section.box-main span.about {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, #f3f3f3 65%, transparent 65%);
    color: #09080d;
    padding: 15px;
    font-size: 14px;
    width: 130px;
}

section.grid h1 {
    font-size: 70px;
    padding: 20px 10px;
    margin: 0;
    color: #09080d;
}

.grid .box1 {
    width: 60%;
    min-height: 130px;
    /* background: red; */
}

.box1 figure {
    padding: 0;
    margin: 0;
    width: 100%;
    object-fit: cover;
    /* height: 100%; */
    /* overflow-y: scroll; */
    /* position: absolute; */
    inset: 0;
    border-radius: 12px;
    scroll-snap-align: start;
}

.box1.radius-default {
    position: relative;
    overflow-y: scroll;
    height: 206px;
    scroll-snap-type: y mandatory;

    &::-webkit-scrollbar {
        background: #09080d10;
        width: 5px;
        border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #2c8d93;
        border-radius: 10px;
    }
}

.box1 figure img {
    width: 100%;
}

.grid .d-flex.justify-content-between {
    flex-flow: wrap;
}

.grid .box2 {
    width: 35%;
    background: #2c8d93;
    position: relative;
}

.grid .box2 span.projects:last-child {
    background: #73aacc;
    border-radius: 0 0 12px 12px;
    color: #09080d;
}

span.projects {
    padding: 20px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    color: #fff;
    height: 50%;
}

span.projects b, .box4 b {font-size: 20px;}

.grid .box3 {
    background: #bcbb99;
    color: #fff;
    width: 40%;
    min-height: 130px;
}

.pt-3 {
    padding-top: 20px;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.box4 {
    background: #000;
    width: 55%;
    position: relative;
}

i.icon-global {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #fff;
    position: absolute;
    left: 25px;
    top: calc(50% - 20px);
}

span.position-absolute {
    background: #909c92;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(55% - 60px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    font-size: 16px;
    color: #000;
}

aside.redes-socials {
    width: 100%;
    min-height: 50px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 10px;
}

aside.redes-socials a {
    display: inline-block;
    width: 27px;
    height: 27px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    filter: brightness(0) saturate(100%) invert(1%) sepia(15%) saturate(7454%) hue-rotate(234deg) brightness(101%) contrast(97%);
}

a.item.icon-redes.insta {
    background-image: url(assets/svg/insta.svg);
}

a.item.icon-redes.linkedin {
    background-image: url(assets/svg/linkedin.svg);
}

a.item.icon-redes.behance {
    background-image: url(assets/svg/behance.svg);
}

a.item.icon-redes.insta {
    background-image: url(assets/svg/insta.svg);
}

a.item.icon-redes.github {
    background-image: url(assets/svg/github.svg);
}

.rotating-svg {
    width: 100px;
    height: 100px;
    animation: rotate 5s linear infinite;
    border-top: 1px solid #fff;
    border-radius: 50px;
    align-self: self-end;
}

@keyframes rotate {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}

text {
    font-size: 20px;
    fill: white;
}

.year {
    fill: #bcbb99; /* Azul claro */
}

@media(min-width:1024px) {
    main.main {
        display: grid;
        grid-template-columns: 3% 40% 49%;
        grid-template-areas:
            "redes about portfolio";
        grid-gap: 3%;
        min-height: calc(100vh - 56px);
        padding: 20px 0;
    }
    
    section.box-main {
        grid-area: about;
        height: calc(100vh - 106px);
    }
    
    section.grid {
        grid-area: portfolio;
        height: calc(100vh - 56px);
    }
    
    aside.redes-socials {
        grid-area: redes;
        flex-direction: column;
        justify-content: space-evenly;
        grid-gap: 0;
        padding-left: 10px;
    }
    
    section.box-main figure img {
        height: 300px;
    }
    
    section.box-main h2 {
        font-size: 50px;
    }
    
    /* .rotating-svg {
        width: 150px;
        height: 150px;
        border: none;
    } */
    
    section.box-main a {
        font-size: 18px;
    }
    
    section.grid h1 {
        font-size: 115px;
        line-height: 1.2em;
        padding: 0 0 20px;
        /* padding: 0; */
        height: calc(min(25%, 25vh) - 42px);
    }
    
    .grid .box1 {
        min-height: 190px;
    }
    
    span.projects {
        padding: 26px 20px;
    }
    
    .grid .box3 {
        min-height: 149px;
    }
}

/* Model 2 */
body.model-2 {
    background: #f6f6f6;
    padding: 0;
    margin: 0;
}

.redes-socials ul {
    list-style: none;
}

.redes-socials ul a {
    display: inline-block;
    width: 25px;
    height: 25px;
    filter: brightness(0);
}

a.item.icon-redes {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* default */
.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap10 {
    gap: 10px;
}

.gap20 {
    gap: 20px;
}

.p0 {
    padding: 0;
}

.m0 {
    margin: 0;
}

.p20 {
    padding: 20px;
}

.text-white {
    color: #fff;
}

.text-center {
    text-align: center;
}

.round20 {
    border-radius: 20px;
}

/* box main */
main.main-principal {
    width: calc(100% - 40px);
    margin: 0 auto 20px;
}

.box-me {
    background: #8184d2;
}

.box-me .image {
    display: inline-block;
    height: 150px;
    width: 150px;
    background: #efaeff;
    border-radius: 50%;
    transform: scale(0.8);
}

.box-me .desc {
    width: 50%;
}

.box-me .desc h2 {
    font-size: 32px;
    line-height: 1.2em;
}

.box-me .desc a {
    font-size: 12px;
}

.box-me .desc h2 {
    font-size: 32px;
    line-height: 1.2em;
}

.box-me .image:before {
    content: "";
    position: absolute;
    inset: -20px;
    border: 5px solid #fff;
    border-radius: 50%;
}

.box-me .redes-socials ul {
    display: none;
}

.relative {
    position: relative;
}

.font-default h1 {
    font-size: 75px;
    word-break: break-word;
    padding-top: 20px;
}

.grid-content .box-70 {
    display: inline-block;
    width: 70%;
    height: 200px;
    background: #000;
}

.grid-content {
    width: 100%;
}

.grid-content .box-30 {
    display: inline-block;
    width: 30%;
}

.grid-content .box-30 .sub-content {
    height: 120px;
    text-align: center;
}

.bg-blue {
    background: #a9d9d7;
    border-radius: 10px 10px 0 0;
}

.bg-purple {
    background: #8e6fbe;
    border-radius: 0 0 10px 10px;
}

.sub-content h2 {
    font-size: 14px;
}

.fw-100 {
    font-weight: 100;
}

.sub-content h2 b {
    font-size: 24px;
}

.darkgray {
    background: #585858;
}

.bg-yellow {
    background: #fec267;
    border-radius: 0 10px 10px 0;
}

.bg-black {
    background: #000;
    border-radius: 10px 0 0 10px;
}

.aside-right .grid-content:nth-of-type(3) .bg-black {
    border-radius: 10px;
}

.aside-right .grid-content:nth-of-type(3) .box-30 {
    height: 140px;
    display: flex;
}

.aside-right .grid-content:nth-of-type(3) .box-70 {
    display: flex;
    height: 180px;
}

@media(min-width:1024px) {
    .redes-socials ul {
        display: none;
    }

    .box-me .desc {
        width: 60%;
    }

    .box-me .image {
        width: 200px;
        height: 200px;
    }

    .box-me .redes-socials ul {
        display: flex;
    }

    .box-me .redes-socials ul a {
        filter: brightness(0) saturate(100%) invert(88%) sepia(99%) saturate(6952%) hue-rotate(233deg) brightness(102%) contrast(107%);    
    }
    
    main.main-principal {
        display: flex;
        gap: 30px;
        justify-content: space-between;
        margin: 20px auto;
    }
    
    aside.aside-left {
        width: 40%;
        display: flex;
    }
    
    .circle-rotate {
        width: 30%;
    }
    
    .box-me {
        padding: 30px;
        width: 100%;
    }

    .box-me .desc h2 {
        font-size: 40px;
    }
    
    aside.aside-right {
        width: 60%;
    }
    
    .font-default aside.aside-right h1 {
        padding: 0;
        text-align: left;
        font-size: 134px;
        line-height: 1em;
    }
}

@media(min-width:1280px) {
    .box-me .image {
        width: 240px;
        height: 240px;
    }

    .box-me .desc h2 {
        font-size: 50px;
    }

    .box-me .desc a {
        font-size: 14px;
    }

    .font-default aside.aside-right h1 {
        font-size: 171px;
    }
}

@media(min-width:1920px) {
    main.main-principal {
        height: calc(100vh - 40px);
    }

    .aside-right .grid-content:nth-of-type(2),
    .aside-right .grid-content:nth-of-type(3) {
        height: calc(50vh - 171px / 2 - 40px);
    }

    .aside-right .grid-content .box-30 .sub-content {
        height: 50%;
    }

    .aside-right .grid-content .box-70 {
        height: 100%;
        padding: 0;
    }

    .aside-right .grid-content .box-30 {
        height: 100%;
    }

    .aside-right .grid-content:nth-of-type(3) .box-30 {
        height: 100%;
        padding: 0;
    }

    .aside-right .grid-content:nth-of-type(3) .box-70 {
        height: 100%;
    }
}