/* FONTS */
@font-face {
    font-family: 'Fff Acidgrotesk Light';
    src: url('https://cdn.prod.website-files.com/65c4b4da44785bd5a7210c55/65c4d9f0825c6b7a00d50afb_FFF-AcidGrotesk-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fff Acidgrotesk Regular';
    src: url('https://cdn.prod.website-files.com/65c4b4da44785bd5a7210c55/65c4d9f0825c6b7a00d50afb_FFF-AcidGrotesk-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fff Acidgrotesk Medium';
    src: url('https://cdn.prod.website-files.com/65c4b4da44785bd5a7210c55/65c4d9f0f1b84de8d7e045a8_FFF-AcidGrotesk-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fff Acidgrotesk Bold';
    src: url('https://cdn.prod.website-files.com/65c4b4da44785bd5a7210c55/65c4d9f08b3b7e3a11edc7ff_FFF-AcidGrotesk-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Default */
html, body {
    scroll-behavior: smooth;
    font-family: 'Fff Acidgrotesk Regular';
    background: #f0f0f0;
}

h1,h2,b {
    font-family: 'Fff Acidgrotesk Bold';
}

p, span {
    font-family: 'Fff Acidgrotesk Medium';
}

::selection {
    background: #f6c4dd;
    color: #00000095;
}

/* Main */
a.item.icon-redes.insta {
    background-image: url(assets/svg/insta.svg);
}

a.item.icon-redes.linkedin {
    background-image: url(assets/svg/linkedin.svg);
}

a.item.icon-redes.behance {
    background-image: url(assets/svg/behance.svg);
}

a.item.icon-redes.github {
    background-image: url(assets/svg/github.svg);
}

.rotating-svg {
    width: 100px;
    height: 100px;
    animation: rotate 5s linear infinite;
    border-top: 1px solid #fff;
    border-radius: 50px;
    align-self: self-end;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

text {
    font-size: 20px;
    fill: white;
}

.year {
    fill: #bcbb99; /* Azul claro */
}

/* Model 2 */
body.model-2 {
    background: #f6f6f6;
    padding: 0;
    margin: 0;
}

.redes-socials ul {
    list-style: none;
}

.redes-socials ul a {
    display: inline-block;
    width: 25px;
    height: 25px;
    filter: brightness(0);
}

a.item.icon-redes {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* default */
.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap10 {
    gap: 10px;
}

.gap20 {
    gap: 20px;
}

.p0 {
    padding: 0;
}

.m0 {
    margin: 0;
}

.p20 {
    padding: 20px;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

.text-center {
    text-align: center;
}

.round20 {
    border-radius: 20px;
}

.text-decoration-none {
    text-decoration: none;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fw-100 {
    font-weight: 100;
}

.bg-blue {
    background: #a9d9d7;
    border-radius: 10px 10px 0 0;
}

.bg-purple {
    background: #8e6fbe;
    border-radius: 0 0 10px 10px;
}

.darkgray {
    background: #585858;
}

.bg-yellow {
    background: #fec267;
    border-radius: 0 10px 10px 0;
    width: 39%;
}

.bg-black {
    background: #000;
    border-radius: 10px 0 0 10px;
}

/* box main */
main.main-principal {
    width: calc(100% - 40px);
    margin: 0 auto 20px;
}

.box-me {
    background: #8184d2;
}

.box-me .image {
    display: inline-block;
    height: 150px;
    width: 150px;
    background: #efaeff;
    border-radius: 50%;
    transform: scale(0.8);
    position: relative;
}

.box-me .image img {
    pointer-events: none;
    position: absolute;
    width: 100%;
    bottom: -15px;
    left: 5px;
}

.box-me .desc {
    width: 50%;
}

.box-me .desc h2 {
    font-size: 32px;
    line-height: 1.2em;
}

.box-me .desc a {
    font-size: 12px;
}

.box-me .desc h2 {
    font-size: 32px;
    line-height: 1.2em;
}

.box-me .image:before {
    content: "";
    position: absolute;
    inset: -20px;
    border: 5px solid #fff;
    border-radius: 50%;
}

.box-me .redes-socials ul {
    display: none;
}

.font-default h1 {
    font-size: 75px;
    word-break: break-word;
    padding-top: 20px;
}

.grid-content .box-70 {
    display: inline-block;
    width: 70%;
    height: 200px;
    background: #000;
}

.grid-content {
    width: 100%;
}

.grid-content .box-30 {
    display: inline-block;
    width: 30%;
}

.grid-content .box-30 .sub-content {
    height: 120px;
    text-align: center;
    transition: .6s ease-in-out;
}

.sub-content h2 {
    font-size: 14px;
}

.sub-content h2 b {
    font-size: 24px;
    line-height: 1em;
}

span.pt-10 {
    margin-top: 10px;
    display: inline-block;
}

.aside-right .grid-content:nth-of-type(2) .box-70 {
    overflow-y: auto;
    border-radius: 12px;
}

.aside-right .grid-content:nth-of-type(2) .box-70 p {
    padding: 20px 0 10px;
}

.aside-right .grid-content:nth-of-type(3) .bg-black {
    border-radius: 10px;
}

.aside-right .grid-content:nth-of-type(3) .box-30 {
    height: 200px;
    display: flex;
}

.aside-right .grid-content:nth-of-type(3) .box-70 {
    display: flex;
    height: 240px;
}

.aside-right .grid-content:nth-of-type(3) .box-70 img {
    width: 40%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.aside-right a:hover {
    filter: brightness(0.9);
    transition: .6s ease-in-out;
}

/* Spline */
.aside-right .grid-content:nth-of-type(3) .box-30:after {
    content: "";
    display: inline-block;
    background: linear-gradient(to right, #f6f6f6 17%, #585858 17%);
    position: absolute;
    z-index: 3;
    bottom: 20px;
    right: 20px;
    width: 137px;
    height: 36px;
}

/* box projetos */
section.projetos {
    background: #000;
    transition: .6s linear;
    position: absolute;
    right: 0%;
    top: 0;
    z-index: 9;
    height: 100vh;
    width: 100%;
    transform: translateX(100%);
}

section.projetos.viewer {
    transition: .6s linear;
    display: flex;
}

.box-image {
    position: relative;
    width: 100%;
    align-content: center;
}

.projetos .box-image img {
    width: calc(100% - 50px);
    margin: 0 auto;
    height: 250px;
    object-fit: cover;
    object-position: top;
}

.projetos .description-project * {
    max-width: 400px;
    margin-top: 0;
    width: calc(100% - 50px);
    margin: 0 auto;
}

.projetos .description-project h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.projetos .description-project p {
    font-size: 14px;
    line-height: 1.3em;
}

.links-projects {
    top: 30px;
    left: 25px;
}

.links-projects a.btn-projects.active:before,
.links-projects a.btn-projects:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 1px;
    background: #fff;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: .6s ease-in-out;
}

.links-projects a.btn-projects.active:before {
    width: 100%;
}

.links-projects a.btn-projects:hover::after {
    width: 100%;
    transition: .6s ease-in-out;
}

.links-projects a.btn-projects.active:hover::before {
    animation: animaBorder 1.2s ease-in-out;
}

@keyframes animaBorder {
    0% {
        width: 100%;
        background: #000;
    } 50% {
        width: 0%;
    }
}

.close-project {
    position: absolute;
    right: 25px;
    top: 25px;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    cursor: pointer;
    transition: .6s ease-in-out;
}

.close-project:hover {
    transform: scale(1.2);
    transition: .6s ease-in-out;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

/* CAROUSEL */
.swiper-container {
    width: 100%;
    height: calc(100% - 20%);
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background: #000;
}

.mySwiper[data-project="tool"] {
    display: none;
}

.mySwiper .swiper-button-prev, .mySwiper .swiper-button-next {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50px;
    bottom: -50px;
    top: auto;
    left: 25px;
    transition: .6s ease-in-out;
}

.mySwiper .swiper-button-next {
    left: calc(25px * 2 + 30px);
}

.mySwiper .swiper-button-prev:after, .mySwiper .swiper-button-next:after {
    color: #fff;
    font-size: 20px;
    transition: .6s ease-in-out;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    background: #fff;
    transition: .6s ease-in-out;
}

.swiper-button-next:hover::after, .swiper-button-prev:hover::after {
    color: #000;
    transition: .6s ease-in-out;
}

@media(min-width:1024px) {
    body.overflow-hidden {
        overflow: hidden;
    }
    
    .redes-socials ul {
        display: none;
    }

    .box-me .desc {
        width: 60%;
    }

    .box-me .image {
        width: 200px;
        height: 200px;
    }

    .box-me .redes-socials ul {
        display: flex;
    }

    .box-me .redes-socials ul a {
        filter: brightness(0) saturate(100%) invert(88%) sepia(99%) saturate(6952%) hue-rotate(233deg) brightness(102%) contrast(107%);    
    }
    
    main.main-principal {
        display: flex;
        gap: 30px;
        justify-content: space-between;
        margin: 20px auto;
        height: calc(100vh - 40px);
    }
    
    aside.aside-left {
        width: 40%;
        display: flex;
    }
    
    .circle-rotate {
        width: 30%;
    }
    
    .box-me {
        padding: 30px;
        width: 100%;
    }

    .box-me .desc h2 {
        font-size: 40px;
    }
    
    aside.aside-right {
        width: 60%;
        height: calc(100vh - 40px);
    }
    
    .font-default aside.aside-right h1 {
        padding: 0;
        text-align: left;
        font-size: 134px;
        line-height: 1em;
    }

    .grid-content .box-70 {
        padding: 0;
        height: 180px;
    }

    .grid-content .box-30 .sub-content {
        height: 90px;
    }

    .aside-right .grid-content:nth-of-type(3) .box-70 {
        height: 205px;
    }

    .aside-right .grid-content:nth-of-type(3) .box-30 {
        height: 165px;
    }

    .bg-yellow,
    .aside-right .grid-content:nth-of-type(3) .box-70 img {
        width: 50%;
    }

    .aside-right .grid-content:nth-of-type(2) .box-70 h2,
    .aside-right .grid-content:nth-of-type(2) .box-70 p {
        padding: 20px 30px;
    }

    .aside-right .grid-content:nth-of-type(2) .box-70 p {
        padding-top: 0;
    }

    /* aba projetos */
    .close-project {
        right: 25px;
        top: 25px;
        width: 40px;
    }

    .projetos .flex-column {
        flex-direction: row;
    }

    .projetos .box-image {
        width: 45%;
        text-align: start;
        padding-left: 25px;
    }

    .projetos .description-project {
        width: 55%;
    }

    .projetos .box-image img {
        width: 100%;
        max-width: 95%;
        height: 254px;
        object-fit: cover;
        object-position: top;
    }

    section.projetos {
        background: #000;
    }

    .projetos .description-project * {
        max-width: 80%;
    }

    .projetos .description-project h2 {
        font-size: 42px;
        line-height: 1.2em;
        margin: 0;
    }

    .projetos .description-project p {
        margin: 10px 0 0;
        font-size: 16px;
    }

    /* carousel */
    .mySwiper .swiper-button-prev, .mySwiper .swiper-button-next {
        bottom: 0;
    }

    .aside-right .grid-content:nth-of-type(3) .box-30:after {
        background: #585858;
    }
}

@media(min-width:1280px) {
    .box-me .image {
        width: 240px;
        height: 240px;
    }

    .box-me .desc h2 {
        font-size: 50px;
    }

    .box-me .desc a {
        font-size: 14px;
    }

    .box-me .redes-socials ul {
        justify-content: flex-start;
        gap: 30px;
        padding-left: 0;
    }

    .font-default aside.aside-right h1 {
        font-size: 171px;
    }

    .aside-right .grid-content:nth-of-type(3) .box-70, .aside-right .grid-content:nth-of-type(3) .box-30 {
        height: 150px;
        padding: 0;
    }

    .aside-right .grid-content:nth-of-type(2), .aside-right .grid-content:nth-of-type(3) {
        height: calc(50vh - 171px / 2 - 40px);
    }

    .aside-right .grid-content .box-30 .sub-content {
        height: 50%;
    }

    .aside-right .grid-content:nth-of-type(3) .box-30,
    .aside-right .grid-content .box-70 {
        height: 100%;
        padding: 0;
    }

    .aside-right .grid-content:nth-of-type(3) .box-70,
    .aside-right .grid-content .box-30 {
        height: 100%;
    }

    .projetos .box-image img {
        height: 319px;
    }
}

@media(min-width:1366px) {
    .font-default aside.aside-right h1 {
        font-size: 183px;
        height: 171px;
    }

    .projetos .box-image img {
        height: 340px;
    }

    .aside-right .grid-content:nth-of-type(2) .box-70 {
        height: 100%;
        align-items: center;
        display: flex;
    }
}

@media(min-width:1920px) {
    main.main-principal {
        height: calc(100vh - 40px);
    }

    .aside-right .grid-content:nth-of-type(2),
    .aside-right .grid-content:nth-of-type(3) {
        height: calc(50vh - 235px / 2 - 40px);
    }

    .font-default aside.aside-right h1 {
        font-size: 262px;
        height: 235px;
    }

    .aside-right .grid-content:nth-of-type(3) .box-70 .sub-content {
        width: 40%;
        flex-direction: column;
        justify-content: center;
    }

    .box-me .image {
        width: 60%;
        height: 408px;
    }

    .box-me .desc h2 {
        font-size: 80px;
    }

    .rotating-svg {
        width: 180px;
        height: 180px;
        border: none;
    }

    .box-me .desc a {
        font-size: 22px;
        padding-top: 30px;
        display: inline-block;
    }

    .box-me .redes-socials ul a {
        width: 40px;
        height: 40px;
    }

    .sub-content h2 {
        font-size: 22px;
    }

    .sub-content h2 b {
        font-size: 40px;
    }

    .projetos .box-image img {
        height: 377px;
    }

    .projetos .description-project h2 {
        font-size: 70px;
    }

    .projetos .description-project p {
        font-size: 22px;
    }

    .aside-right .grid-content:nth-of-type(2) .box-70 p {
        font-size: 18px;
    }
}